@model Vidly.Models.Customer
@{
    ViewBag.Title = "CustomerDetail";
}

<h2>Customer Detail</h2>

<p>
   <h3> @Model.CustomerName</h3> 


        @if (@Model.DateOfBirth.HasValue)
        {
            <li>
                @Model.DateOfBirth.Value.ToString("dd-MMM-yyyy")
            </li>
           
        }
    <li>
        Membership Type: @Model.MembershipType.MembershipName
    </li>


</p>
