@using System.Web.UI.WebControls
@using Vidly.Migrations
@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "MoviesList";
}

<h2>Movies List</h2>
<table class="table table-bordered table-hover">
    <th> Movie Names</th>
    <th> Genre </th>
    @if (!Model.Any())
    {
        <p>No Movies yet</p>
    }
    else
    {
        foreach (var movies in Model)
         {
             <tr>
                 <td>
                     @Html.ActionLink(movies.MovieName, "MovieDetails", "Movie", new { ID = movies.MovieID },null)
                 </td>
                 <td> @movies.Genre.Name</td>
             </tr>
         }
}
       
</table>

